@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(reset.css);

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat" ,sans-serif;
}


body{
  width: 924px;
  height: 378px;
}

.container{
  margin-left: 60px;
  margin-top: 80px;


  .content__container{
    h6{
      font-weight: 600;
      width: 144px;
      height: 30px;
      gap: 0px;
      opacity: 0px;
      font-size: 20px;
      line-height: 30px;
      color: rgba(33, 33, 33, 1);
    }

    h3{
      margin-top: 10px;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.4px;
      color: rgba(33, 33, 33, 1);
    }

    .my-button{
      margin-top: 20px;
      width: 214px;
      height: 64px;
      border-radius: 32px;
      padding: 16px, 40px, 16px, 40px;
      gap: 16px;
      background-color:  rgba(13, 110, 253, 1);
      p{
        font-size: 23px;
        text-align: center;
        color: rgba(255, 255, 255, 1);

      }
    }
  }

  .content__images{
    margin-left: -100px;
    margin-top: -280px;
    img{
    width: 269px;
    height: 293px;
    margin-top: 43px;
    margin-left: 579px;
    }
  }
}